.card-details {
    display: flex;
    justify-content: center;
    border: 2px solid tomato;
    align-content: center;
    padding: 25px;
    margin: 50px;
    border-radius: 20px;
    gap: 20px;
}

.card-details-left img {
    border-radius: 5px;
}

.btn-buy {
    padding: 15px 100px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    color: orange;
    background: teal;
    margin-top: 20px;
    cursor: pointer;
}