@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    padding: 20px;
}

.nav-logo {
    font-size: 30px;
    color: #FCFFB2;
}

.nav-text {
    font-size: 40px;
    color: #FFF8EA;
}

.text-un {
    font-style: italic;
    color: #FCFFB2;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.nav-links li {
    color: #F9F9F9;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
}

.nav-links li:hover {
    color: orange;
}

.nav-btn {
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: #EE5b47;
    color: #F9F9F9;
}

.user-img {
    height: 30px;
    border-radius: 50%;

}