@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #F9F9F9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F826D;
    padding: 20px;
}

.logo {
    height: 58px;
    width: 160px;
}

.nav-logo {
    font-size: 30px;
    color: #FCFFB2;
}

.nav-text {
    font-size: 40px;
    color: #FFF8EA;
}

.text-un {
    font-style: italic;
    color: #FCFFB2;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.nav-links li {
    color: #F9F9F9;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
}

.nav-links li:hover {
    color: orange;
}

.nav-btn {
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: #EE5b47;
    color: #F9F9F9;
    padding: 7px 20px;
    font-size: 18px;
}

.user-img {
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: teal;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    left: -120px;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    /* background-color: #EE5b47; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F9F9F9;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: orange;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: black;
}

input:checked+.slider:before {
    transform: translateX(26px);
}