.blog {
    display: grid;
    grid-template-columns: 2fr 2fr;
}


.blog-header {
    font-size: 60px;
    font-weight: bold;
}

.blog-ques {
    background-color: #B9FFFC;
    /* color: #F9F9F9; */
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid teal;
}

.blog-ques h3 {
    color: orange;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .blog {
        display: flex;
        flex-direction: column;
    }

    .blog-header {
        font-size: 32px;
        font-weight: bold;
    }
}