.container {
    width: 70%;
    height: 535px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: 0px 0px 15px -5px #000;
}

.form-text {
    font-size: 40px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control label {
    display: block;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-top: 10px;
}

.form-control input {
    width: 350px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.btn-login {
    width: 30%;
    padding: 15px;
    margin: 20px;
    border: none;
    background: #EE5b47;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dont-acc {
    color: blue;
}

.error-m {
    color: rgb(218, 16, 16);
}

.btn-google {
    width: 30%;
    padding: 15px;
    margin: 20px;
    border: none;
    background: rgb(236, 172, 52);
    color: black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-github {
    width: 30%;
    padding: 15px;
    margin: 20px;
    border: none;
    background: rgb(14, 9, 9);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .container {
        width: 85%;
        height: 605px;
        margin: 20px auto;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        box-shadow: 0px 0px 15px -5px #000;
    }

    .form-control input {
        width: 280px;
        height: 55px;
        border: 1px solid #95A0A7;
        border-radius: 5px;
        font-size: 18px;
        padding: 10px;
        margin: 10px;
    }

    .btn-login {
        width: 45%;
        padding: 15px;
        margin: 20px;
        border: none;
        background: #EE5b47;
        color: white;
        border-radius: 10px;
        font-size: 16px;
    }

    .dont-acc {
        color: blue;
        padding: 0px 37px;
    }
}